{% extends "layout.html" %}

{% block title %} JustCodeIT - Téléchargement {% endblock %}

{% block content %}
    <main role="main" class="container">
        <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h1>Zone de téléchargement</h1>
            </div>
        </div>

        <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h4>Le Jeu</h4>
            </div>
            Voici le jeu que nous avons réalisé durant ce semestre :
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Le Jeu<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/585700564407549962/EscapeIT_Setup.exe'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Livret d'installation<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/585711949686505482/Manuel_d_installation.pdf'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Assets supplémentaires<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/585700576436682762/Assets.rar'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h4>Cahier des charges</h4>
            </div>

            Afin que les professeurs puissent valider notre projet, nous avons dû leur fournir un cachier des charges.
            Il
            est donc disponible ici :

            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <button class="btn"
                        onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/546068642077474882/Cahier_des_Charges.pdf'">
                    <i
                            class="fa fa-download"></i> Téléchargement
                </button>
            </div>

        </div>

        <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h4>Soutenance 1</h4>
            </div>
            Lors de la réalisation de la première soutenance, nous avons dû transmettre plusieurs documents que voici :
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Rapport de soutenance<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969532708552704/Soutenance_1_rapport.pdf'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Plan de soutenance<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969534000529419/Soutenance_1_outline.pdf'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h4>Soutenance 2</h4>
            </div>
            Lors de la réalisation de la deuxième soutenance, nous avons dû transmettre plusieurs documents que voici :
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Rapport de soutenance<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/583503812870930432/Soutenance_2_rapport.pdf'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Plan de soutenance<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/583503829908324352/Soutenance_2_outline.pdf'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h4>Soutenance 3 (Français)</h4>
            </div>

            Lors de la réalisation de la troisième soutenance (en français), nous avons dû transmettre plusieurs
            documents que voici :
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Rapport de soutenance<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/583504542172315658/Soutenance_3_francais_rapport.pdf">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Plan de soutenance<br>
                            <button class="btn"
                                    onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/585700089948012564/Soutenance_3_francais_outline.pdf'">
                                <i
                                        class="fa fa-download"></i> Téléchargement
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock content %}