{% extends "layout.html" %}

{% block title%} JustCodeIT - Téléchargement {% endblock%}

{% block content %}
<main role="main" class="container">
    <div class="content-section">
        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
            <h1>Zone de téléchargement</h1>
        </div>
    </div>

    <div class="content-section">
        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
            <h4>Téléchargement du jeu</h4>
        </div>
        Nous n'avons pas pour esprit de fournir un jeu non terminé. Ainsi, nous ne mettrons pas le jeu en téléchargement
        libre avant notre soutenance 3.
    </div>

    <div class="content-section">
        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
            <h4>Cahier des charges</h4>
        </div>

        Afin que les professeurs puissent valider notre projet, nous avons dû leur fournir un cachier des charges. Il
        est donc disponible ici :

        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
            <button class="btn"
                onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/546068642077474882/Cahier_des_Charges.pdf'"><i
                    class="fa fa-download"></i> Téléchargement</button>
        </div>

    </div>

    <div class="content-section">
        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
            <h4>Soutenance 1</h4>
        </div>
        Lors de la réalisation de la première soutenance, nous avons dû transmettre plusieurs documents que voici :
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                        Rapport de soutenance<br>
                        <button class="btn"
                            onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969532708552704/Soutenance_1_rapport.pdf'"><i
                                class="fa fa-download"></i> Téléchargement</button>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                        Plan de soutenance<br>
                        <button class="btn"
                            onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969534000529419/Soutenance_1_outline.pdf'"><i
                                class="fa fa-download"></i> Téléchargement</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
            <h4>Soutenance 2</h4>
        </div>
        <div class="text-muted small">Nous mettrons les documents correspondant après la soutenance.</div>
        <!--
        Lors de la réalisation de la première soutenance, nous avons dû transmettre plusieurs documents que voici :
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                        Rapport de soutenance<br>
                        <button class="btn"
                            onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969532708552704/Soutenance_1_rapport.pdf'"><i
                                class="fa fa-download"></i> Téléchargement</button>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                        Plan de soutenance<br>
                        <button class="btn"
                            onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969534000529419/Soutenance_1_outline.pdf'"><i
                                class="fa fa-download"></i> Téléchargement</button>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <div class="content-section">
            <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                <h4>Soutenance 3</h4>
            </div>
            <div class="text-muted small">Nous mettrons les documents correspondant après la soutenance.</div>
            <!--
            Lors de la réalisation de la première soutenance, nous avons dû transmettre plusieurs documents que voici :
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Rapport de soutenance<br>
                            <button class="btn"
                                onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969532708552704/Soutenance_1_rapport.pdf'"><i
                                    class="fa fa-download"></i> Téléchargement</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-center" style="margin: 0 0 0 0; padding: 5% 0 5% 0">
                            Plan de soutenance<br>
                            <button class="btn"
                                onclick="window.location.href='https:\/\/cdn.discordapp.com/attachments/546065521628545025/554969534000529419/Soutenance_1_outline.pdf'"><i
                                    class="fa fa-download"></i> Téléchargement</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
</main>


{% endblock content %}