{% extends "layout.html" %}

{% block title%} JustCodeIT - Home {% endblock%}

{% block content %}

<main role="main" class="container">
  <div class="content-section">
      <h1 class="text-center" style="margin: 3%">Bienvenue sur le site de "JustCodeIT"</h1>
      
  </div>
  <div class="content-section" style="text-align:center">
    <h2 class="text-center"> EscpapeIT<br>Projet en cours d'avancement</h2>
    <img class="img-fluid" style="width: 100%;border-style:solid; border-width: 2px;border-radius: 10px;" src="../static/profile_pics/Play-escapIT.png">
    <h6 class="text-center">Actuellement disponible en version Alpha</h6>
    <button type="button" class="btn btn-danger">Download</button>
  </div>
  <div class="content-section" style="text-align:center">
      <h5 class="text-center"> Pour nous faire part de quelconques bugs, ou de critiques constructives, vous pouvez nous contacter:</h5>
      <h4>Contact@JustCode.it</h4>
  </div>
  <div class="content-section" style="text-align:left">
      <h6 class="text-center"> Projet dirigé par:</h6>
      <p>Champeyroux Damien - damien.champeyroux@epita.fr <br> Briolant Quentin - quentin.briolant@epita.fr <br> Cohen Seraïa - seraia.cohen@epita.fr </p>

  </div>
</main>


{% endblock %}
