{% extends "layout.html" %}

{% block title%} La Bibl' - Home {% endblock%}

{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md">
            <div class="content-section">
                <div class="text-center" style="margin: 0 0 10% 0; padding:0 0 10% 0">
                    <h1>Voici les semestres présents sur le site</h1>
                </div>
                {% if current_user.is_authenticated %}
                {% if current_user.permission == "administrator" %}
                <p>
                    <button class="btn btn-secondary btn-sm show" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Ajouter
                    </button>
                </p>
                {% endif %}
                {% endif %}
                <div class="collapse" id="collapseExample">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    {{ form.name.label(class="form-control-label") }}
                                    {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.name(class="form-control form-control-sm") }}
                                    {% endif %}
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <div class="form-control-label" style="padding: 0px 0px 8px 0px">&nbsp;</div>
                                        {{ form.submit(class="btn btn-sm btn-outline-info ") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="list-group">
                    {% for semester in semesters %}
                    <a href="/semester/{{ semester.id }}" class="list-group-item list-group-item-action">
                        {{ semester.name }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if current_user.username == "gastbob40" %}
                        <object><a href="/delete/semester/{{ semester.id }}/home" >❌</a></object>
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</main>

{% endblock content %}